!!! 5
html
  head
    //- Meta
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="apple-mobile-web-app-capable",content="yes")
    meta(http-equiv="x-ua-compatible",content="chrome=1")

    link(rel="icon", href="http://cdn.ze.ee/favicon.ico", type="image/x-icon")
    link(rel="shortcut icon", href="http://cdn.ze.ee/favicon.ico", type="image/x-icon")
    link(rel="apple-touch-icon",href="http://cdn.ze.ee/favicon.ico")

      //- Styles
    include styles.jade
    //- Le HTML5 shim, for IE6-8 support of HTML5 elements
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    //- Scripts
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0-rc.3/handlebars.min.js")
    include scripts.jade
    include client.handlebars
    base(target="_blank")
    title= title
    include ../google/analytics/script.html
    link(rel="chrome-webstore-item", href="https://chrome.google.com/webstore/detail/ecchcfjajmkifnnfibbpclaiigfaanpo")


  body
    - if (typeof(debug) == 'undefined')
    #loading
    .container-fluid
      #mainContainer.container
        header
        #app!= body
