script(src="http://cdn.ze.ee/js/basket.js")
script(src="http://cdn.ze.ee/js/libs/swfobject/swfobject.js")
script(src="http://cdn.ze.ee/js/json.js")
script(src="http://cdn.ze.ee/js/common.js")
script(src="http://cdn.ze.ee/js/libs/bootstrap/bootstrap-button.js")
script(src="http://cdn.ze.ee/js/libs/bootstrap/bootstrap-tooltip.js")
script(src="http://cdn.ze.ee/js/underscore.js")
script(src="http://cdn.ze.ee/js/backbone.js")
script(src="http://cdn.ze.ee/js/short/app.js")
script(src="http://cdn.ze.ee/js/badbrowser.js")
script(src="http://cdn.ze.ee/js/libs/zero.clipboard/ZeroClipboard.js")
script(src="http://cdn.ze.ee/js/libs/zero.clipboard/ZeroClipboard.init.js")
script(src="http://cdn.ze.ee/js/libs/jquery.cookie/jquery.cookie.js")