h1= title
// - app wrapper
!=partial('url-submission')
.row
 .mobile-common-msgs.message-wrapper(style="display:none")
 .messages.span6.message-wrapper


 .user-urls.span6.message-wrapper

#mascott
#mascott2
