h1= title
// - app wrapper
!=partial('url-submission')
.row
 .mobile-common-msgs.message-wrapper(style="display:none")
 .messages.span6.message-wrapper

   .message.pinned.alert.alert-success.chrome-extension
    p.message-title
     span.text Google Chrome Extension availible.
    hr.message-inner-separator
    a.chrome-ext-icon(href="https://chrome.google.com/webstore/detail/ecchcfjajmkifnnfibbpclaiigfaanpo", target="_blank")
    span.text Simply click the icon to install extension:

 .user-urls.span6.message-wrapper

#mascott
#mascott2
