form#url-add-form.well.form-inline.form-horizontal.input-append
 #user-input
  #user-input-inner
   input#url-add-input(type="text", placeholder="Type url…", autofocus, autocomplete="off", title="press CTRL+C to copy")
  button#url-add-button.btn.btn-primary
    i.icon-plus-sign.icon-white &nbsp;